.vscode/

build/
out/
samu-build/obj/
samu-build/nightbuild
samu-build/.ninja_deps
samu-build/.ninja_log
ninja-build/obj/
ninja-build/nightbuild
ninja-build/.ninja_deps
ninja-build/.ninja_log

recordings/

bootstrap/

*.o
*.a
*.d

compile_commands.json
generator-test/main
include_test/hello

*.profraw
*.profdata

nightbuild
nightbuild-pgo
test

.DS_Store

make2nightbuild
